build
.idea
deployment
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
_ReSharper.SharpResume
*.resharper
*.suo
*.cache
*.log
*.DS_Store
~$*
obj/
Obj/
bin/
Bin/
*.idea.*	
*.orig
nhconfig.bin
rake.out
TestResult.xml
WebDeployPackage.log
web.log*
*~
error-*.xml
package.log
