<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog"
             type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <system.diagnostics>
    <switches>
      <!--
                This should cause a temporary cs source file to be create in
                "%userprofile%\local settings\temp"
                look for the most recent file named something like "asdasdfs.0.cs".
            -->
      <add name="XmlSerialization.Compilation"
           value="1" />
    </switches>
  </system.diagnostics>
  <system.xml.serialization>
    <xmlSerializer tempFilesLocation="%userprofile%\\local settings\\temp"/>
  </system.xml.serialization>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true"
        autoReload="true">
    <targets>
      <target name="file"
              xsi:type="File"
              fileName="${basedir}/logs/${shortdate}.txt"
              keepFileOpen="false"
              encoding="iso-8859-2"
              layout="${date:format=HH\:MM\:ss} ${logger} ${message} ${exception:format=tostring}"/>
    </targets>
    <targets>
      <target name="console"
              xsi:type="ColoredConsole"
              layout="${date:format=HH\:MM\:ss} ${logger} ${message} ${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*"
              minlevel="Trace"
              writeTo="file,console" />
    </rules>
  </nlog>
</configuration>